*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: black;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(22, 39, 72, 0.691);
    height: 3rem;
    color: white;
    box-shadow: 2px 2px 2px gray ;
    & #logo{
        font-size: 2rem;
        font-weight: 900;
    }
    & #links{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 0.3rem;
    }
    & #links a{
        text-decoration: none;
        color: white;
        font-size: 1.2rem;
    }
    & #profile{
        font-size: 1.5rem;
    }
}

main{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(43, 43, 37);
    & .card{
        height: 40%;
        width: 30%;
        padding: 1rem;
        margin-top: 1rem;
        background-color: rgba(39, 43, 42, 0.513);
        box-shadow: 2px 2px 3px rgb(133, 169, 242);
        border-radius: 0.5rem;
        border: 1px solid rgba(75, 75, 205, 0.626);
    }
    & .card:hover{
        background-color: rgba(4, 4, 80, 0.581);
        box-shadow: 2px 2px 3px rgb(17, 69, 25);

    }
}